# Dependencies
node_modules

# Build output
dist
dist-ssr
*.local

# Rust / Tauri
src-tauri/target

# Logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.sw?

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
.direnv

# Saved flows
.flowtool
